body {
	width: 800px;
	margin: 2em auto;
	color: #222;
	background-color: #f0f0f0;
	border: 1px solid #333333;
	overflow: hidden;
}

#page_header {
	color: 0;
	background-color: #376aa4;
	padding: 10px 0 10px 25px;
}

#page_content {
	font: Georgia, Times, serif;
	padding: 30px 10px 0 25px;
	font-size: 14px;
	letter-spacing: 1px;
}

table.brukerliste {
  border-collapse:collapse;
  border:solid gray 1px;
  width:650px;
}

table.brukerliste td {
  width:130px;
  border:solid gray 1px;
}

table.navbuttons {
  /* navigasjonsknapper */
  border:none;
  width:160px;
  margin-left:auto;
  margin-right:auto;
}

table.navbuttons td {
  width:20px;
  border:none;
}

table.navbuttons img {
  border:none;
}

.textcentered {
  text-align:center;
}

#logo {
	color: #f0f0f0;
}

.testcode {
  font-size:0.8em;
  color:#ccccff;
}

form.vurdering {
    padding:12px;
}

form.vurdering textarea {
    background:#f8f8c0;
    float:right;
}

form p:first-letter {
    font-size:2.4em;
    color:#334499;
}

form p:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}

form.vurdering label {
    font-size:1.2em;
}
